body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  background-color: #292929;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 400px;
}

.output {
  background-color: #3d3d3d;
  padding: 15px;
  text-align: right;
  border-bottom: 2px solid #4f4f4f;
}

.input {
  font-size: 2em;
  width: calc(100% - 30px);
  border: none;
  outline: none;
  background-color: #3d3d3d;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  font-size: 1.5em;
  padding: 20px;
  border: 2px solid #4f4f4f;
  background-color: #292929;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #1f1f1f;
  color: #fff;
  transform: scale(1.05);
}

.op {
  color: #fff;
  background-color: #ff9800;
  box-shadow: 0 0 10px rgba(255, 152, 0, 0.8);
}

.op:hover {
  background-color: #f57c00;
  box-shadow: 0 0 15px rgba(255, 152, 0, 0.8);
}